{% extends 'dashboard.html' %}

{% block all_users %}
    <div class="col-md-10 dahsboard-color p-5">
		<div class="table-responsive table-shadow">
			<div class="text-center table-description">
			  <h4 class="table-title">ALL USERS TABLE</h4>
              <p class="subtitle">(An employee must be created to view user in the table!)</p>
			</div>
			<table class="table mt-5">
				<thead>
                    <tr>
                        <th scope="col">Username</th>
                        <th scope="col">Employee (fullname) </th>
                        <th scope="col">Department</th>
                        <th scope="col">Status</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
				<tbody>
                    {% for emp in employees %}
                    <tr>
                        <td>{{emp.user.username}}</td>
                        <td>{{ emp.get_full_name }}</td>
                        <td>{{ emp.department }}</td>
                        {% if emp.user.is_active %}
                        <td>active</td>
                        {% else %}
                        <td>inactive</td>
                        {% endif %}
                        {%  if emp.user.is_active and emp.user.is_superuser %}
                        <!-- Admin cannot block self -->
                        <td style="font-style:italic;">(admin)</td>
                        {% elif emp.user.is_active %}
                        <td><a href="{% url 'block_users' emp.user.id %}" title="block user"><i class="fas fa-lock-open" style="color: #0E5E6F;"></i></a></td>
                        {% else %}
                        <td><a href="{% url 'unblock_users' emp.user.id %}" title="unblock user"><i class="fas fa-lock" style="color: #0E5E6F;"></i></a></td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
			</table>
		</div>
    {% for message in messages %}
    {% if message.tags == 'success' %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js" integrity="sha512-AA1Bzp5Q0K1KanKKmvN/4d3IRKVlv9PYgwFPvm32nPO6QS8yH1HO7LbgB1pgiOxPtfeg5zEn2ba64MUcqJx6CA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
        let ms = "{{ message }}";
        swal("Perfect!", ms , "success")
    </script>
    {% else %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js" integrity="sha512-AA1Bzp5Q0K1KanKKmvN/4d3IRKVlv9PYgwFPvm32nPO6QS8yH1HO7LbgB1pgiOxPtfeg5zEn2ba64MUcqJx6CA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
        let me = "{{ message }}";
        swal("Please try Again!", me , "error")
    </script>
    {% endif %}
{% endfor %}
    </div>
{% endblock all_users %}