{% extends 'dashboard.html' %}
{% load crispy_forms_tags %}


{% block create_user %}
    <div class="col-md-10 dahsboard-color">
        <div class="content">
            <div class="container-fluid">
                <div class="form-wrapper" style="max-height: 85vh; overflow: scroll;">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 text-center">
                            <h3 class="title-h3 table-title">Add User</h3>
                            <p class="subtitle">A user must be created before adding as an employee to the system</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 center-form">
                            <form action="" method="POST">
                                {% csrf_token %}
                                {{form | crispy }}
                                <button type="submit" class="btn btn-md btn-block mb-3 btn-submit">Submit</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div> 
        </div>
        {% for message in messages %}
        {% if message.tags == 'success' %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js" integrity="sha512-AA1Bzp5Q0K1KanKKmvN/4d3IRKVlv9PYgwFPvm32nPO6QS8yH1HO7LbgB1pgiOxPtfeg5zEn2ba64MUcqJx6CA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script>
            let ms = "{{ message }}";
            swal("Perfect!", ms , "success")
        </script>
        {% else %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js" integrity="sha512-AA1Bzp5Q0K1KanKKmvN/4d3IRKVlv9PYgwFPvm32nPO6QS8yH1HO7LbgB1pgiOxPtfeg5zEn2ba64MUcqJx6CA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script>
            let me = "{{ message }}";
            swal("Please try Again!", me , "error")
        </script>
        {% endif %}
    {% endfor %}
    </div>
{% endblock create_user %}