@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap");

/* ------------------------------
            UTILITIES
--------------------------------*/

.teal-color{
    background-color: #0E5E6F;
}
.beige-color{
    color:#F2DEBA;
}
.text-medium{
    font-size: 25px;
}
.padding-0{
    padding-right:0;
    padding-left:0;
}

.dahsboard-color{
    background-color:#F2DEBA; 
}

.btn-submit{
    background-color: #0E5E6F;
    color:#F2DEBA; 
}

.form-wrapper::-webkit-scrollbar,
#list-tab::-webkit-scrollbar,
ul::-webkit-scrollbar{
    display: none;
}

.subtitle{
    color: #0E5E6F;
}
.center-form{
    margin: 0 auto;
}

.form-label{
    color: #0E5E6F;
    font-size: 20px;
}

.textinput, .select, .dateinput, .emailinput, .numberinput, .regionalphonenumberwidget{
    border: 1px solid #0E5E6F;
}

.scroll-form{
   overflow: scroll;
   max-height: 80vh;
}
.asteriskField{
    color:#0E5E6F;
    font-size: 20px;
}

/* ------------------------------
       START CONFIGURATION
--------------------------------*/

html, body{
    padding: 0;
    height: 100%;
    margin: 0;
    max-width: 100%;
    overflow: hidden;
}

/* ------------------------------
       NAVBAR CONFIGURATION
--------------------------------*/

#btn-nav{
    width: 90px;
    float: right;
    margin-right: 35px;
    border: 1px solid;
}
#btn-nav:hover{
    color:#F2DEBA ;
}

/* ------------------------------
       FOOTER CONFIGURATION
--------------------------------*/

#footer{
position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
  height: 50px;
}

/* ------------------------------
       SIDEBAR CONFIGURATION
--------------------------------*/

.sidebar-item a{
    text-decoration: none;
    color:#F2DEBA;
    font-size: 20px;
    text-align: center;
    display: block;
    padding: 20px;
}

.container-fluid{
    margin: 0;
    padding: 0;
}

/* ------------------------------
       DASHBOARD CONFIGURATION
--------------------------------*/

.home{
    min-width: 100%;
    height: auto;
}

.home-logo{
    text-align: center;
    font-size: 200px;
    margin-top: 30px;
    color: #0E5E6F;
}

.home-tile{
    min-width: 100%;
    margin-top: 30px;
}

.title { 
    text-align: center;
    color: #F2DEBA;
    text-transform: uppercase;
    padding: 1px;
    font-family: 'Raleway', cursive;
    font-weight: 100;
    position: relative;
    background: linear-gradient(to right, #0E5E6F, #F2DEBA, #0E5E6F);
}
.title::before {
    content: "";
    position: absolute;
    left: 50%;
    top: -50px;
    width: 600px;
    margin-left: -300px;
    margin-top: -220px;
    height: 600px;
    background: radial-gradient(50% 50%, ellipse closest-side, #F2DEBA, #0E5E6F);
    z-index: -1;
}

.title a {
    background: #0E5E6F;
    display: block;
    padding: 20px;
    text-decoration: none;
    letter-spacing: 30px;
    color: #F2DEBA;
    animation: comein 1.5s 1 ease-in-out forwards;
  }

@keyframes comein {
    0% {
      letter-spacing: 80px;
      color: #F2DEBA;
    }
    70% {
      letter-spacing: 20px;
    }
    100% {
      letter-spacing: 25px;
      color: #F2DEBA;
    }
  }


/* ------------------------------------
       ALL EMPLOYEES CONFIGURATION
--------------------------------------*/

.search {
    border: 1px solid #0E5E6F;
    border-radius: 10px;
    margin-right: 10px;
}

.table-title{
    color: #0E5E6F;
    font-size: 40px;
}

.table{
    border: #0E5E6F;
    color:#0E5E6F ;
    width: 80%;
    margin: 0 auto;
}

.form-wrapper{
    margin-left: 20px;
}

/* Eliminate box-shadow  from inputs when they are focused*/
textarea:focus,
input[type="text"]:focus,
.form-select:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
    box-shadow:none ;
    outline: 0 none;
}

/* ------------------------------------
       USER PROFILE CONFIGURATION
--------------------------------------*/

.profile-list{
    border: none;
    padding: 15px;
    
}

.btn-profile, .btn-profile:hover{
    width:95%;
    background-color: #F2DEBA;
    margin: 10px;
    color: #0E5E6F;
    font-size: 20px;
}

.no-information{
    font-size: 30px;
    color: #F2DEBA;
    text-align: center;
}

.add-information{
    text-decoration: none;
    color: #820000;
}

/* ------------------------------------
       BIRTHDAYS PAGE CONFIGURATION
--------------------------------------*/

.no-birthdays{
    text-align: center;
    margin-top: 10%;
    font-size: 25px;
    color: #820000;
    font-weight: bold;
}

