{% extends 'base.html' %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2 padding-0">
            <div class="d-flex flex-column flex-shrink-0 p-3  beige-color teal-color">
                <!-- SIDEBAR NAVIGATION -->
                
                <div class="sidebar-wrapper" >
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0" style="min-height:100vh;">
                        <li class="active sidebar-item mt-5">
                            <a href="{% url 'dashboard' %}">
                                <i class="fas fa-chart-line"></i>&nbsp;&nbsp;Dashboard 
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="{% url 'userprofile' %}">
                                <i class="fas fa-id-card"></i></i></i>&nbsp;&nbsp;My Profile
                            </a>
                        </li>
                        {% if request.user.is_superuser and request.user.is_staff %}
                        <li class="sidebar-item">
                            <a href="{% url 'employees' %}">
                                <i class="fas fa-user"></i>&nbsp;&nbsp;All Employees
                            </a>
                        </li>
                        {% endif %}
                        <li class="sidebar-item">
                            <a href="{% url 'leaves_list' %}">                              
                                <i class="fas fa-plane-departure"></i>&nbsp;&nbsp;Leaves
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="{% url 'birthdays' %}">
                                <i class="fas fa-birthday-cake"></i></i>&nbsp;&nbsp;Birthday
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        
        <!-- ---------------DASHBOARD BLOCKS--------------- -->

        <!-- DASHBOARD HOME -->
        {% block dahsboard-home %}{% endblock dahsboard-home %}
        <!-- DISPLAY ALL EMPLOYEES -->
        {% block employees %}{% endblock employees %}
        <!-- ADD EMPLOYEE -->
        {% block add_employee %}{% endblock add_employee %}
        <!-- ADD NEW USER -->
        {% block create_user %}{% endblock create_user %}
        <!-- VIEW ALL USERS -->
        {% block all_users %}{% endblock all_users %}
        <!-- USER PROFILE -->
        {% block user_profile %}{% endblock user_profile %}
        <!-- EMERGENCY FORM -->
        {% block emergency %}{% endblock emergency %}
        <!-- BLOCK FAMILY -->
        {% block family %}{% endblock family %}
        <!-- BLOCK BANK -->
        {% block bank %}{% endblock bank %}
        <!-- BLOCK BIRTHDAYS -->
        {% block birthdays %}{% endblock birthdays %}
        <!-- CREATE LEAVE -->
        {% block create_leave %}{% endblock create_leave %}
        <!-- ALL LEAVES -->
        {% block all_leaves %}{% endblock all_leaves %}
        <!-- LEAVES ACTIONS -->
        {% block leaves_actions %}{% endblock leaves_actions %}
        <!-- APPROVED LEAVES -->
        {% block approved_leaves %}{% endblock approved_leaves %}
        <!-- APPROVED LEAVES -->
        {% block rejected_leaves %}{% endblock rejected_leaves %}
    </div>
    
    {% for message in messages %}
    {% if message.tags == 'success' %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js" integrity="sha512-AA1Bzp5Q0K1KanKKmvN/4d3IRKVlv9PYgwFPvm32nPO6QS8yH1HO7LbgB1pgiOxPtfeg5zEn2ba64MUcqJx6CA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
        let ms = "{{ message }}";
        swal("Perfect!", ms , "success")
    </script>
    {% else %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js" integrity="sha512-AA1Bzp5Q0K1KanKKmvN/4d3IRKVlv9PYgwFPvm32nPO6QS8yH1HO7LbgB1pgiOxPtfeg5zEn2ba64MUcqJx6CA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
        let me = "{{ message }}";
        swal("Please try Again!", me , "error")
    </script>
    {% endif %}
{% endfor %}
</div>
{% endblock content %}