{% extends 'base.html' %}

{% block content %}
<div class="container-fluid">
  <div class="row flex-nowrap">
    <div class="col-auto col-md-2 col-xl-2 px-sm-2 px-0 teal-color beige-color">
        <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 min-vh-100">
            <ul class="nav nav-pills flex-column mb-sm-auto mt-5 align-items-center align-items-sm-right" id="menu" style="width: 100%;">
              <li class="nav-item sidebar-item">
                  <a href="{% url 'dashboard' %}" class="nav-link align-middle px-0">
                      <i class="fas fa-chart-line"></i><span class="ms-1 d-none d-sm-inline">Dashboard</span>
                  </a>
              </li>
              <li class="nav-item sidebar-item">
                  <a href="{% url 'userprofile' %}" class="nav-link align-middle px-0">
                      <i class="fas fa-id-card"></i><span class="ms-1 d-none d-sm-inline">My Profile</span>
                  </a>
              </li>
              {% if request.user.is_superuser and request.user.is_staff %}
              <li class="nav-item sidebar-item">
                  <a href="{% url 'employees' %}" class="nav-link align-middle px-0">
                      <i class="fas fa-user"></i><span class="ms-1 d-none d-sm-inline">All Employees</span>
                  </a>
              </li>
              {% endif %}
              <li class="nav-item sidebar-item">
                  <a href="{% url 'leaves_list' %}" class="nav-link align-middle px-0">                              
                      <i class="fas fa-plane-departure"></i><span class="ms-1 d-none d-sm-inline">Leaves</span>
                  </a>
              </li>
              <li class="nav-item sidebar-item">
                  <a href="{% url 'birthdays' %}" class="nav-link align-middle px-0">
                      <i class="fas fa-birthday-cake"></i><span class="ms-1 d-none d-sm-inline">Birthdays</span>
                  </a>
              </li>
          </ul>
      </div>
    </div>
     <!-- ---------------DASHBOARD BLOCKS--------------- -->

        <!-- DASHBOARD HOME -->
        {% block dahsboard-home %}{% endblock dahsboard-home %}
        <!-- DISPLAY ALL EMPLOYEES -->
        {% block employees %}{% endblock employees %}
        <!-- ADD EMPLOYEE -->
        {% block add_employee %}{% endblock add_employee %}
        <!-- ADD NEW USER -->
        {% block create_user %}{% endblock create_user %}
        <!-- VIEW ALL USERS -->
        {% block all_users %}{% endblock all_users %}
        <!-- USER PROFILE -->
        {% block user_profile %}{% endblock user_profile %}
        <!-- EMERGENCY FORM -->
        {% block emergency %}{% endblock emergency %}
        <!-- BLOCK FAMILY -->
        {% block family %}{% endblock family %}
        <!-- BLOCK BANK -->
        {% block bank %}{% endblock bank %}
        <!-- BLOCK BIRTHDAYS -->
        {% block birthdays %}{% endblock birthdays %}
        <!-- CREATE LEAVE -->
        {% block create_leave %}{% endblock create_leave %}
        <!-- ALL LEAVES -->
        {% block all_leaves %}{% endblock all_leaves %}
        <!-- LEAVES ACTIONS -->
        {% block leaves_actions %}{% endblock leaves_actions %}
        <!-- APPROVED LEAVES -->
        {% block approved_leaves %}{% endblock approved_leaves %}
        <!-- APPROVED LEAVES -->
        {% block rejected_leaves %}{% endblock rejected_leaves %}
  </div>

  <!-- Display Messages -->
  {% for message in messages %}
    {% if message.tags == 'success' %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js" integrity="sha512-AA1Bzp5Q0K1KanKKmvN/4d3IRKVlv9PYgwFPvm32nPO6QS8yH1HO7LbgB1pgiOxPtfeg5zEn2ba64MUcqJx6CA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
        let ms = "{{ message }}";
        swal("Perfect!", ms , "success")
    </script>
    {% else %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js" integrity="sha512-AA1Bzp5Q0K1KanKKmvN/4d3IRKVlv9PYgwFPvm32nPO6QS8yH1HO7LbgB1pgiOxPtfeg5zEn2ba64MUcqJx6CA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
        let me = "{{ message }}";
        swal("Please try Again!", me , "error")
    </script>
    {% endif %}
{% endfor %}
</div>
{% endblock content %}