{% extends 'dashboard.html' %}


{% block rejected_leaves %}
<div class="col-md-10 dahsboard-color">
    <div class="content">               
      <!-- TABLE -->
      <div class="table-responsive table-shadow">
        <div class="text-center table-description mt-5">
          <h4 class="table-title">Rejected Leaves Table</h4>
        </div>
        {% if leave_list %}
        <table class="table">
            <thead>
              <tr>
                <th scope="col">User</th>
                <th scope="col">Type</th>
                <th scope="col">Day(s)</th>
                <th scope="col">Status</th>
                <th scope="col">Actions</th>
              </tr>
            </thead>
            <tbody>
                {% for leave in leave_list %}
              <tr>
                <td>{{ leave.user }}</td>
                <td>{{ leave.leavetype}}</td>
                <td>{{ leave.leave_days }}</td>
                <td>{{ leave.status }}</td>
                <td> 
                    <a href="{% url 'leaves_action' leave.id %}" title="Actions" class="btn btn-primary" >
                        <i class="fas fa-directions"></i>
                      </a> 
                </td>
              </tr>
              {% endfor %}
            </tbody>
        </table>
      {% else %}
      <p class="no-birthdays">No Records Available!</p>
      {% endif %}

      <!-- Pagination -->
      <nav class="mt-5 pagination justify-content-center">
        {% if leave_list.has_other_pages %}
        <ul class="pagination ">
            {% if leave_list.has_previous %}
            <a href="?page=1" class="btn teal-color beige-color mb-4" style="width: 60px; border-radius: 1px; border: 1px solid #0E5E6F;">First</a>
            <li class="page-item"><a href="?page={{ leave_list.previous_page_number }}" class="page-link" style="background-color: #0E5E6F!important; border: 1px solid #0E5E6F; color: #F2DEBA;"><i class="fas fa-angle-double-left"></i></a></li>
            {% else %}
            <li class="page-item disabled"></li>
            {% endif %}
            
            {% for i in leave_list.paginator.page_range %}
                {% if leave_list.number == i %}
                <li class="page-item active" ><span class="page-link" style="background-color: #0E5E6F!important; border: 1px solid #0E5E6F;">{{ i }}<span class="sr-only"></span></span></li>
                {% else %}
                <li class="page-item"><a href="?page={{ i }}" class="page-link" style="background-color: #0E5E6F!important; border: 1px solid #0E5E6F; color: #F2DEBA;">{{ i }}</a></li>
                {% endif %} 
            {% endfor %}

            {% if leave_list.has_next %}
            <li class="page-item"><a href="?page={{ leave_list.next_page_number }}" class="page-link" style="background-color: #0E5E6F!important; border: 1px solid #0E5E6F; color: #F2DEBA;"><i class="fas fa-angle-double-right"></i></a></li>           
            <a href="?page={{ leave_list.paginator.num_pages }}" class="btn mb-4 teal-color beige-color" style="width: 60px; border-radius: 1px; border: 1px solid #0E5E6F; border-left: none;">Last</a>
            {% else %}
            <li class="page-item disabled"></li>
            {% endif %}
        </ul>
        {% endif %}
    </nav>        
      </div>          
    </div> 

    <!-- Display Messages -->
    {% for message in messages %}
      {% if message.tags == 'success' %}
      <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js" integrity="sha512-AA1Bzp5Q0K1KanKKmvN/4d3IRKVlv9PYgwFPvm32nPO6QS8yH1HO7LbgB1pgiOxPtfeg5zEn2ba64MUcqJx6CA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
      <script>
          let ms = "{{ message }}";
          swal("Perfect!", ms , "success")
      </script>
      {% else %}
      <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js" integrity="sha512-AA1Bzp5Q0K1KanKKmvN/4d3IRKVlv9PYgwFPvm32nPO6QS8yH1HO7LbgB1pgiOxPtfeg5zEn2ba64MUcqJx6CA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
      <script>
          let me = "{{ message }}";
          swal("Please try Again!", me , "error")
      </script>
      {% endif %}
    {% endfor %} 
  </div>
{% endblock rejected_leaves %}